/* These lines will be updated automatically by river/init */
box:not(.modules-left):not(.modules-right):not(.modules-center):not(#tags){
	margin-left: calc(1920px * 0.60 + 2px);
	margin-right: 10px;
	margin-top: 10px;
	border-width: 2px;
	background: #ffffff;
	border-color: #000000;
}
/* END*/
