@define-color bg #ffffff;

* {
	all: unset;
	font-family: JetBrainsMono Nerd Font;
}


window#waybar {
	background: transparent;
	color: black;
}

.modules-left{
	background: @bg;
	margin-left: 1144px;
	border-top: solid black 2px;
	border-bottom: solid black 2px;
	border-left: solid black 2px;
	min-width: 347px;
}

.modules-center{
	background: @bg;
	border-top: solid black 2px;
	border-bottom: solid black 2px;
}

.modules-right{
	background: @bg;
	border-top: solid black 2px;
	border-bottom: solid black 2px;
	border-right: solid black 2px;
	padding-right: 10px;
	min-width: 350px;
}

#tags button{
	color: transparent;
	padding-left: 10px
}

#tags button.focused {
	color: black
}

#bluetooth.off {
	color: grey;
}

#battery.warning {
	color: orange;
	animation: blinker 1s linear 5;
}
#battery.critical {
	color: red;
	animation: blinker 1s linear 25;
}
window#waybar.battery-critical .modules-right,window#waybar.battery-critical .modules-center, window#waybar.battery-critical .modules-left {
	border-color: red;
}
@keyframes blinker {
  50% {
    color: transparent;
  }
}
