@define-color bg #ffffff;

* {
	all: unset;
	font-family: JetBrainsMono Nerd Font;
}


window#waybar {
	background: transparent;
	color: black;
}

box:not(.modules-left):not(.modules-right):not(.modules-center):not(#tags){
	margin-left: calc(1920px * 0.6 + 2px);
	background: @bg;
	border: solid black 2px;
}

.modules-right {
	margin-right: 10px
}


#tags button{
	color: transparent;
	padding-left: 10px
}

#tags button.focused {
	color: black
}

#tags button:hover, #pulseaudio:hover, #network:hover {
	color: grey
}

#bluetooth.off {
	color: grey;
}

#battery.warning {
	color: orange;
	animation: blinker 1s linear 5;
}
#battery.critical {
	color: red;
	animation: blinker 1s linear 25;
}
window#waybar.battery-critical .modules-right,window#waybar.battery-critical .modules-center, window#waybar.battery-critical .modules-left {
	border-color: red;
}
@keyframes blinker {
  50% {
    color: transparent;
  }
}
