@import url("riverbed-autogen.css");

* {
	font-size: 13px;
}

box:not(.modules-left):not(.modules-right):not(.modules-center):not(#tags){
	border-style: solid;
}

.modules-right {
	margin-right: 10px
}

.module {
	padding: 5px
}

#tags button{
	color: transparent;
	padding-left: 10px
}

#tags button.focused {
	color: black
}

#tags button.urgent {
	animation-name: blink;
	animation-duration: 1s;
	animation-timing-function: steps(25);
	animation-iteration-count: 10;
	animation-direction: alternate;
}

#tags button:hover,
#pulseaudio:hover,
#network:hover,
#tags button.occupied:not(.focused),
#bluetooth.off,
#bluetooth:hover {
	color: grey
}

#battery.warning:not(.charging) {
	color: orange;
	animation-name: blink;
	animation-duration: 1s;
	animation-timing-function: steps(25);
	animation-iteration-count: 10;
	animation-direction: alternate;
}
#battery.critical:not(.charging) {
	color: red;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: steps(25);
	animation-iteration-count: 50;
	animation-direction: alternate;
}

@keyframes blink {
  to {
    color: transparent;
  }
}
